
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: Futura;
    src: url(../fonts/Futura/ofont.ru_Futura\ PT.ttf);
}